
<h2>Lista</h2>

<div id="filterrific_results">
  <div class="row">
   
      <% @recipe.each do |recipe| %>
      

       <% if recipe.user_id == current_user.id %>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="recipe">
            <div class="image_wrapper">
              <% if recipe.image.attached? %>
                <%= link_to recipe do %>
                  <%= image_tag(recipe.image) %>
                <% end %>
              <% else %> 
                <%= link_to recipe do %>
                   <%= image_tag "basic-food.jpeg" %>
                <% end %>
              <% end %>
            </div>
            <div id="recipe_info">
              <h1><%= link_to recipe.title.capitalize, recipe %></h1>
              
              <h4>Recipe-Privacy: <u><%= recipe.status.capitalize %></u></h4>
              <hr>

              <!-- friend.membership_with(current_user) -->
              <% if recipe.user_id == current_user.id %>
                <h4>User relation2: self</h4>
              <% elsif recipe.user_id != current_user.id%>
                
                    <h4>REL @U:
                      <b><%= friend.membership_with(@u) %>,<%= friend.name %></b>
                    </h4>
                 
              <% end %>
            </div>
            <h6><i>by: <%= recipe.user.name %> ID: <%= recipe.user_id %></i></h6>

          </div>
        </div>

       <% end %>


       <% @u = recipe.user %>
       <% @u.friends.each do |friend| %>
        
         <%# if friend.name == current_user.name %>
         <%# if friend.membership_with(@u).name == recipe.status && friend.name == current_user.name %>

         <%# if friend.membership_with(@u).present? %>
         <% if friend.membership_with(@u).name == recipe.status && friend.name == current_user.name || friend.membership_with(@u).name == 'family' && recipe.status != 'only_me' && friend.name == current_user.name %>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="recipe">
                <div class="image_wrapper">
                  <% if recipe.image.attached? %>
                                  <%= link_to recipe do %>
                                    <%= image_tag(recipe.image) %>
                                  <% end %>
                                <% else %> 
                                  <%= link_to recipe do %>
                                     <%= image_tag "basic-food.jpeg" %>
                                  <% end %>
                                <% end %>
                </div>
                <div id="recipe_info">
                  
                  <h1><%= link_to recipe.title.capitalize, recipe %></h1>
                  
                  <h4>Recipe-Privacy: <u><%= recipe.status.capitalize %></u></h4>
                  <hr>

                  <!-- friend.membership_with(current_user) -->
                  <% if recipe.user_id == current_user.id %>
                    <h4>User relation2: self</h4>
                  <% elsif recipe.user_id != current_user.id%>
                    
                        <h5>REL @U:
                          <b><%= friend.membership_with(@u) %>,<%= friend.name %></b>
                        </h5>
                     
                  <% end %>

                </div>
                <h6><i>By: <%= recipe.user.name %> ID: <%= recipe.user_id %> at: <%= recipe.created_at.strftime('%B-%d-%Y') %></i></h6>
              </div>
            </div>
            
        <% end %>
      <% end %>
    <% end %>
    
  </div>
</div>        
  
  