<div class="main_content">
	<h1><%= t 'recipes.recipes_list' %></h1>
	<hr>
	<%= form_tag recipes_path, :method => 'get' do %>

		<div class="row">
			<div class="col-sm-12 col-md-3 col-lg-3">
				<%= text_field_tag :search, params[:search], class:'input-search  mobile-search', :placeholder => t('recipes.form.placeholder.search')  %>
			</div>
			
			<div class="col-sm-6 col-md-2 col-lg-2 mobile-select">
				<% friend = current_user.friends.map{|f| [f.name]} << current_user.name %>
				<%= select_tag :friend_filter, options_for_select(friend), {include_blank: t('recipes.form.select_friend'),:id => 'standard-select', class: 'select'} %>
			</div>
			<div class="col-sm-6 col-md-2 col-lg-2  right-select">
				<% category = Category.all.order(name: :asc).map{|f| [f.translated_name.capitalize]} %>
				<%= select_tag :category_filter, options_for_select(category), {include_blank: t('recipes.form.select_category'),:id => 'standard-select', class: 'select'} %>
			</div>
		<!-- </div> -->
		<!-- <div class="row">	 -->
			<div class="col-sm-12 col-md-2 col-lg-1 mobile-buttons d-grid gap-2 d-md-block">
				<%= submit_tag t('recipes.form.search'), :name => nil, class:'btn btn-primary ', id:'search_submit' %>
			</div>
			<div class="col-sm-12 col-md-2 col-lg-1 mobile-buttons d-grid gap-2 d-md-block">
				<%= button_tag t('recipes.form.clear'), id: 'clear_form_button', class:'btn btn-info' %>
			</div>
		</div>

		<script>
		    function clickSubmit() {
		        $("#search_submit").trigger("click");
		    }
		</script>
		<script type='text/javascript'>
			$(document).ready(function () {

				$("#clear_form_button").on("click", function() {
				  $("#search").val("");
				});
			});
			$(document).ready(function () {

				$("#clear_form_button").on("click", function() {
				  $("#searchIngredients").val("");
				});
			});
		</script>
	<% end %>

	<hr>
	<%= render 'recipes/list' %>
	<hr>

	<% if user_signed_in? %>
		<%= link_to t('recipes.form.new_recipe'), new_recipe_path, class: "btn btn-primary" %>
		<%#= button_tag t('recipes.form.new_recipe'), :name => nil, class:'btn btn-primary ' %>
	<% end %>
</div>