<div class="main-content-recipe">
	<div id="recipe_top" class="row">
		<div class="col-sm-12 col-md-5 col-lg-5">
			<div class="card card-body bg-light">
				<% if @recipe.image.attached? %>
					<%= image_tag @recipe.image.variant(quality: "50") %>
				<% else %> 
					<%= image_tag "https://ovi-family-recipes.s3.us-east-2.amazonaws.com/basic-food.jpeg" %>
				<% end %>

		</div>
		</div>
		<div class="col-sm-12 col-md-7 col-lg-7">
			<div class="card card-body bg-light">
				<h3><%= @recipe.title.capitalize %></h3>
				<i><span><%= t('recipes.edit.labels.category') %> - 
						 <%= @recipe.category.translated_name.capitalize if @recipe.category.name %></span></i>
						 
				<p><%= @recipe.description %></p>
				<h6><i>By: <%= @recipe.user.name %> -  Created: <%= @recipe.created_at.strftime('%B-%d-%Y') %></i></h6>
			</div>
		</div>
	<!-- </div> -->
	<!-- <div class="row"> -->
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="card card-body bg-light">
				<div id="ingredient">
					<h2><%= t 'recipes.ingredients' %></h2>
					<ul>
						<% @recipe.ingredients.each do |ingredient|  %>
						<li>
							<%= ingredient.name %>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="card card-body">
				<div id="directions" class="directions">
					<h2><%= t 'recipes.directions' %></h2>
					<ul>
						<!-- <li> -->
						<li class="<%= "sortable" if current_user == @recipe.user %>">
						<% @recipe.directions.by_position.each.with_index do |direction, index|  
							indexplusone = index+1 %>
						
							<div class="card sort-card" data-id="<%= direction.id %>
							">
								
								<div class="col-sm-12 col-md-12">
									 <%= direction.position %> - 
									 <%#= direction.id %>
									 <%= direction.step.capitalize %>								
								</div>
								<div class="col-sm-12 col-md-12">
									<% if direction.image.attached? %>
										<div class="direction-image">
											<%= image_tag(direction.image) %>
										</div>
									<% end %>
								</div>
							</div>
						
						
						<% end %>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-12 mobile-buttons">
			<%#= link_to "Back", recipes_path, class: "btn btn-secondary" %>
			<%= link_to t('global.buttons.back'), recipes_path, class: "btn btn-secondary" %>
			<% if user_signed_in? && current_user.id == @recipe.user_id%>
				<%= link_to t('recipes.edit_recipe'), edit_recipe_path, class: "btn btn-primary" %>
				<%= link_to t('recipes.remove_ingredient'), recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
				
			<% end %>
		</div>
	</div>
</div>





