<h3>User Show page</h3>

<h4> UserName: <%= current_user.first_name %> <%= current_user.last_name %></h4>
<h4>Email: <%= current_user.email %></h4>
<p> ID: <%= current_user.id %></p>

<h2>Friends search</h2>

<%= form_tag users_path, :method => 'get' do %>

	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
		<%= button_tag 'CLEAR', id: 'clear_form_button' %>
	</p>
<% end %>
<%#= javascript_pack_tag 'clear' %>
 <script type='text/javascript'>
 	$(document).ready(function () {
 		$("#clear_form_button").on("click", function() {
 		  $("#search").val("");
 		});
 	});
 </script>
<hr>
<div id="users">
	<% if user_signed_in?  %>
		<% if params[:search].present? %>
		<h3>New friends list</h3>
		<table>
			<tr>
				<td>Email</td>
				<td>Name</td>
				<td>Action</td>
			</tr>
			<% @users.each do |user| %>
				<% if user.try(:type) != 'AdminUser' %>
					<div class="">
							<!-- ############ -->
							<% if signed_in? && !Invitation.reacted?(current_user.id, user.id) && current_user != user  %>
								<tr>
									<div  class="show-view" >
										<td><%= user.email %></td>
										<td><%= user.first_name %> <%= user.last_name %></td>
									  	<td><%= link_to 'Invite as family', invitations_create_path(ids: {id1: current_user.id, id2: user.id}, status: :family), class: "btn btn-info" %></td>
									  	<td><%= link_to 'Invite as friend', invitations_create_path(ids: {id1: current_user.id, id2: user.id}, status: :friend), class: "btn btn-info" %></td>
									</div>
								</tr>
							<% end %>
							<!-- ############ -->
					</div>
				<% end %>
			<% end %>


		<% end %>
		</table>
	<% end %>
</div>
<!-- ################################## -->
<% if @user.friends.any? %>

	<h3>Friends list</h3>
	<table>
		<tr>
			<td>ID</td>
			<td><b>Email</b></td>
			<td><b>Nume</b></td>
			<td><b>Status</b></td>
			<td><b>Group</b></td>
			<td></td>
			<td></td>
		</tr>
	      <% if @user == current_user %>
	<%
		@user.friends.each do |friend|
		# friend = friendconnect.friend
	%>

	    <tr>
	      	<td> ID: <%= friend.id %> - </td>
	      	<td><%= friend.email %> - </td>
	      	<td><%= friend.name %> - </td>
		    <td><b><%= friend.status %></b></td>
		    <td><b><%= friend.memberships.where(group: current_user.groups).first&.group %></b></td>
	      	<!-- <td><%#= link_to "Edit", invitations_edit_path(@invitation), class: "btn btn-primary" %></td> -->
	      	<td><%= link_to "Edit", edit_invitation_path(Invitation.find_invitation(@user.id, friend.id)), class: "btn btn-primary" %></td>
	      	<!-- <td><%#= link_to 'Unfriend', friendconnect_path(friend), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
	      	<td><%= link_to 'Unfriend',
	      invitations_destroy_path(id: Invitation.find_invitation(@user.id, friend.id)), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?'} %>
	      </td>
	   	</tr>
<% end %>
	<% end %>
</table>

<h3>Invitation list</h3>
	<table>
		<tr>
			<td><b>Invitation ID</b></td>
			<td><b>Friend ID</b></td>
			<td><b>Name</b></td>
			<td><b>Status</b></td>
			<td><b>Group</b></td>
		</tr>
	<% @user.invitations.where(:confirmed => true).each do |invitation| %>
	    <%# if @user.invitations.exists? %>
	    <tr>
	      <% if @user == current_user %>
	      	<td><%= invitation.id %> - </td>
	      	<td><%= invitation.friend_id %> - </td>
	      	<td><%= invitation.friend.name %> - </td>
	      	<td><%= invitation.status %> - </td>
		    <td><b><%= invitation.friend.memberships.where(group: current_user.groups).first&.group %></b></td>
	      	<td><%= link_to "Edit", invitation_path(invitation), class: "btn btn-primary" %></td>
	      	<td><%= link_to 'delete request', invitation_path(invitation), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      <% end %>
	   	</tr>

	<% end %>
<%# end %>
	</table>


<% end %>

<% if @user.pending_invitations.exists? %>
	<h3>Pending Invitations</h3>

	<ul>
		<% @user.pending_invitations.each do |invitation|  %>
			<li>
				<%= invitation.user.name %>
				<%= invitation.user.email %>
				<%= invitation.status %>
				<%= link_to 'Accept Invitation', invitation_path(invitation), class: "btn btn-primary" %> -
				<%= link_to 'Reject Invitation', invitation_path(invitation), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
			</li>
		<% end %>
	</ul>
<% end %>
<!-- ################################## -->
