
<% if user_signed_in?  %>

	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	| <%= link_to "Setari", edit_user_registration_path(current_user) %>
	<h3>You are logged as: <%= current_user.first_name %> <%= current_user.last_name %>
		<br> Your email is:	<%= current_user.email %></h3>
	<h3>ID: <%= current_user.id %></h3>
	<br>
	<%= link_to "My Page", users_path(current_user) %>


<% else %>
	<%= link_to "Login", new_user_session_path %>
<% end %>
