<%= form_for @invitation do |f| %>
	<% if @invitation.errors.any? %>
		<div id="errors">
			<h3>
				<%= @invitation.errors.count %>
				prohibited this recipe from being saved:
			</h3>
			<ul>
				<% @invitation.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="panel-body">
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="friend_group"><%= t '.select_group' %></label>
					
					
					<% group = Group.all.order(name: :asc).map{|f| [f.translated_name.capitalize, f.id]} %>
					<%#= select_tag :category_filter, options_for_select(category), {include_blank: t('recipes.form.select_category'),:id => 'standard-select', class: 'select'} %>

					<%= select_tag :group_id, options_for_select(group, @invitation.group(current_user)&.id), class: "options_for_select" %>
					<%#= select_tag :group_id, options_for_select(Group.pluck(:name, :id), @invitation.group(current_user)&.id), class: "options_for_select" %>
				</div>
			</div>
		</div>
		<br>
		<%= f.submit t('invitations.form.save'), class: "btn btn-primary" %>
	</div>
<% end %>
