<%= form_for @invitation do |f| %>
	<% if @invitation.errors.any? %>
		<div id="errors">
			<h3>
				<%= @invitation.errors.count %>
				prohibited this recipe from being saved:
			</h3>
			<ul>
				<% @invitation.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="friend_group">Status</label>
					<div class="field">
						<%= f.label :status, "Friend" %>
						<%= f.radio_button :status, 'friend' %>

						<%= f.label :status, 'Family' %>
						<%= f.radio_button :status, 'family' %>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="friend_group">Group</label>
					<%= select_tag :group_id, options_for_select(Group.pluck(:name, :id), @invitation.group(current_user)&.id), include_blank: true %>
				</div>
			</div>
		</div>
		<%= f.submit "Save invitation", class: "btn btn-primary" %>
	</div>
<% end %>
