<h2>Index invitations</h2>
<table>
	<tr>

		<td><b>Nume</b></td>
		<td>ID</td>
		<td>Status</td>
	</tr>

<% current_user.invitations.each do |invitation|  %>
	<tr>
		<td><%= invitation.friend.name %></td>
		<td><%= invitation.id %></td>
		<td><%= invitation.status %></td>
		<td><%= link_to "Edit", edit_invitation_path(invitation), class: "btn btn-primary" %></td>
	</tr>

<% end %>

<% current_user.pending_invitations.each do |invitation|  %>
	<tr>
		<td><%= invitation.friend.name %></td>
		<td><%= invitation.id %></td>
		<td><%= invitation.status %></td>
		<td><%= link_to "Edit", edit_invitation_path(invitation), class: "btn btn-primary" %></td>
		<td><%= link_to 'Accept Invitation', invitation_path(invitation), class: "btn btn-primary" %></td>
	</tr>

<% end %>

<%#= current_user.invitations.inspect %>
