<%= link_to "Home", root_path %> | 
<%= link_to "My Page", users_path(current_user) %> |
<%= link_to "Logout", destroy_user_session_path, method: :delete %> |
<%= link_to "Setari", edit_user_registration_path(current_user) %> |
<%= link_to "Retete", recipes_path(current_user) %> |
<%= link_to "Invitations", invitations_path(current_user) %>

<h2>Index invitations</h2>
<table>
	<tr> 
		 
		<td><b>Nume</b></td>
		<td>ID</td>
		<td>Status</td>
	</tr>

<% current_user.invitations.each do |invitation|  %>
	<tr>
		<td><%= invitation.friend.name %></td>
		<td><%= invitation.id %></td>
		<td><%= invitation.status %></td>
		<td><%= link_to "Edit", edit_invitation_path(invitation), class: "btn btn-primary" %></td>
	</tr>

<% end %>

<% current_user.pending_invitations.each do |invitation|  %>
	<tr>
		<td><%= invitation.friend.name %></td>
		<td><%= invitation.id %></td>
		<td><%= invitation.status %></td>
		<td><%= link_to "Edit", edit_invitation_path(invitation), class: "btn btn-primary" %></td>
		<td><%= link_to 'Accept Invitation', invitations_update_path(id: invitation.id) %></td>
	</tr>

<% end %>

<%#= current_user.invitations.inspect %>
