
<!-- <footer class="text-center text-lg-start bg-white text-muted"> -->
<footer class="text-center" style="background-color: #adacac;">
  <!-- Section: Social media -->
  

  <!-- Section: Links  -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i><%= t 'footer.family_recipes' %>
          </h6>
          <p>
            <%= t 'users.moto' %>.
          </p>
        </div>
        <!-- Grid column -->

        

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <%= t 'footer.links' %>
          </h6>
          <% if user_signed_in?  %>
            <p>
              <%= link_to t('global.menu.my_page'), users_path(current_user), class: "nav-link text-reset" %>
            </p>
            <p>
              <%= link_to t('global.menu.recipes'), recipes_path, class: "nav-link text-reset" %>
            </p>
            <p>
              <%= link_to t('global.menu.settings'), edit_user_registration_path, class: "nav-link text-reset" %>
            </p>
            <p>
              <%= link_to t('global.menu.logout'), destroy_user_session_path, method: :delete, class: "nav-link text-reset" %>
            </p>
          <% else %>
            <<p>
              <%= link_to t('global.menu.home'), root_path, class: "nav-link text-reset" %>
            </p>
            <p>
              <%= link_to t('global.menu.login'), new_user_session_path, class: "nav-link text-reset"  %>
            </p>
            <p>
              <%= link_to t('global.menu.sign_in'), new_user_registration_path, class: "nav-link text-reset"  %>
            </p>
          <% end %>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        
        <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home text-secondary"></i> London, ON, Canada</p>
          <p>
            <i class="fas fa-envelope text-secondary"></i>
            admin@online-business-solutions.ca
          </p>
          <p><i class="fas fa-phone me-3 text-secondary"></i> </p>
          
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="http://www.online-business-solutions.ca">Online-Business-Solutions.ca</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer