<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        

    <title>FamilyRecipes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="jquery.ui.touch-punch.min.js"></script>

    <script>
    $(document).on('click',function(){
    $('.collapse').collapse('hide');
    })
    </script>
    <script>
      $('.navbar-toggler').on('click',function(){
      $('.collapse').collapse('hide');
      })
    </script>
    <script>
      $(document).ready(function(){
        setTimeout(function(){
          $('#notice_wrapper').fadeOut("slow", function(){
            $(this).remove();
          })
        }, 4500);
      });
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">

      <div class="container-fluid">
        <% if user_signed_in?  %>
          <a class="navbar-brand" href="#" title="<%= current_user.email %>">
            <%= current_user.first_name %> <%= current_user.last_name %>
          </a>
        <% end %>
        <button class="navbar-toggler custom-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if user_signed_in?  %>
              <li class="nav-item">
                <%= link_to t('global.menu.my_page'), users_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t('global.menu.recipes'), recipes_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t('global.menu.settings'), edit_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t('global.menu.logout'), destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to t('global.menu.home'), root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to t('global.menu.login'), new_user_session_path, class: "nav-link"  %>
              </li>
              <li class="nav-item">
                <%= link_to t('global.menu.sign_in'), new_user_registration_path, class: "nav-link"  %>
              </li>
            <% end %>
          </ul>
          <!-- <ul class="language"> -->
            
            <%# if user_signed_in?  %>
              <!-- <li><%#= link_to image_tag("1200px-Flag_of_the_United_States.svg.png"), users_path(current_user, locale: :en), class: "flag" %> -->
                
              <!-- </li> -->
              <!-- <li><%#= link_to image_tag("Flag_of_Romania.svg.png"), users_path(current_user, locale: :ro), class: "flag" %></li> -->
            <%# else %>
              <!-- <li><%#= link_to  image_tag("1200px-Flag_of_the_United_States.svg.png"), root_path(locale: :en), class: "flag" %></li> -->
              <!-- <li><%#= link_to image_tag("Flag_of_Romania.svg.png"), root_path(locale: :ro), class: "flag" %></li> -->
            <%# end %>
          <!-- </ul> -->
          <ul class="language">
            <% I18n.available_locales.each do |locale| %>
              
              <li>
                <% if I18n.locale == locale %>
                  <%= t(locale, scope: 'locales') %>
                <% else %>
                  <%= link_to t(locale, scope: 'locales'), url_for(locale: locale) %>
                <% end %>
              </li>
            <% end %>
          </ul>

        </div>
        
      </div>
    </nav>

    <% if notice %>
      <div id="notice_wrapper">
        <p class="notice"><%= notice %></p>
      </div>
      
    <% end %>
    <% if alert %>
     <div id="notice_wrapper">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
